<footer class="page-footer float-end text-end">
    <div class="footer-social">      
      <a href="https://api.whatsapp.com/send?phone=5547999999999&text=Olá, necessito de atendimento do suporte." target="_blank"><i class="icofont icofont-whatsapp"></i></a>
    </div>
    
    <hr class="my-3">
    
    <div class="footer-copyright">
      <span class="copy">&copy; 2022 | Todos os direitos reservados | </span>
      <a href="https://www.devs2blu.com.br/" target="_blank">Devs2Blu</a>
    </div>
</footer>
