<div class="container-fluid" id="moduloCadastro">    
    <div class="row">
        <div class="col-sm">
            <form #addForm="ngForm" class="row g-3 mb-4" (ngSubmit)="cadastrarAnimal(addForm)">
                <div class="col-md-12">
                    <label for="nomeAnimal" class="form-label">Nome do animal</label>
                    <input type="text" ngModel name="nome" class="form-control" id="nomeAnimal" required>                    
                </div>
                
                <div class="col-md-8">
                    <label for="especieAnimal" class="form-label">Espécie</label>
                    <select type="text" ngModel name="especie" class="form-control" #especieAnimal (blur)="carregaCombosDetalhes(especieAnimal.value)" (click)="limpaCombosDetalhes()">
                        <option></option>
                        <option id="op" *ngFor="let detalheAnimal of detalhesAnimal" value="{{detalheAnimal.especieDetalhe}}">{{detalheAnimal.especieDetalhe}}</option>
                    </select>
                </div>
        
                <div class="col-md-2">
                    <label for="pesoAnimal" class="form-label">Peso (kg)</label>
                    <input type="text" ngModel name="peso" class="form-control" id="pesoAnimal">
                </div>

                <div class="col-md-2">
                    <label for="alturaAnimal" class="form-label">Altura (cm)</label>
                    <input type="text" ngModel name="altura" class="form-control" id="alturaAnimal">
                </div>        
               
                <div  class="col-md-6">
                    <label for="racaAnimal" class="form-label">Raça</label>
                    <select type="text" ngModel name="raca" class="form-control" id="racaAnimal">
                        <option></option>
                        <option *ngFor="let raca of racaSelecionada" value="{{raca}}">{{raca}}</option>
                    </select>              
                </div>
        
                <div  class="col-md-6">
                    <label for="tipoPelPlumAnimal" class="form-label">Tipo Pelagem/Plumagem</label>
                    <select type="text" ngModel name="tipoPelPlum" class="form-control" id="tipoPelPlumAnimal">
                        <option></option>
                        <option *ngFor="let pelPlum of pelPlumSelecionada" value="{{pelPlum}}">{{pelPlum}}</option>
                    </select> 
                </div>
        
                <div  class="col-md-12">
                    <label for="tratamentoAnimal" class="form-label">Descrição Tratamento</label>
                    <select type="text" ngModel name="tratamento" class="form-control" id="tratamentoAnimal">                        
                        <option></option>
                        <option *ngFor="let tratamento of tratamentos" value="{{tratamento.nomeTratamento}}">{{tratamento.nomeTratamento}}</option>
                    </select>
                </div>
                
                <div class="col-8" id="botaoSubmit">
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Enviar</button>  
                </div>
            </form>
        </div>      
    </div>

    <div class="row">
        <div id="tabelaAnimais">
            <h2>Listagem de Animais</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome do animal</th>
                        <th scope="col">Espécie</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Altura</th>
                        <th scope="col">Raça</th>
                        <th scope="col">Pelagem/Plumagem</th>
                        <th scope="col">Tratamento</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody *ngFor="let animal of animais">
                    <tr>
                        <td>{{animal.nome}}</td>
                        <td>{{animal.especie}}</td>
                        <td>{{animal.peso}} kg</td>
                        <td>{{animal.altura}} cm</td>
                        <td>{{animal.raca}}</td>
                        <td>{{animal.tipoPelPlum}}</td>
                        <td>{{animal.tratamento}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editarAnimal()">Editar</button> 
                            <button class="btn btn-danger btn-block" (click)="removerAnimal()">Deletar</button>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>    


